<body class="favorites">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/submit">Discover</a></li>
  <li role="presentation"><a href="/search">Search</a></li>
</ul>
  </div>
</nav>

<h1>Favorites</h1>

<div class="well">
 <%= data.name %>
 <%= data.description %>
 </div>

