<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="/morestyles.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-tabs">
   <li role="presentation"><a href="/favorites">Favorites</a></li>
   <li role="presentation" class="active"><a href="/submit">Discover</a></li>
 
</ul>
  </div>
</nav>


<!-- <input type="text" class="form-control" placeholder="Search" id="beerSearch">
<input class="btn btn-default" type="submit" value="Search"> -->

<div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="Looking for something?"><input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>


</body>
</html>
