body {
	background: url(https://blog.h4t0n.com/content/images/2015/07/wall-black-background-desktop-12-.jpg) cover cover no-repeat;
	padding-top: 70px; 
}



#bheader {
	font-family: 'Fredericka the Great', cursive;
	font-size: 100px;
	text-align: center;
	margin-top: 30px;
	color: white;
	border-radius: 10px;
}

.form-horizontal {
	background: rgba(0, 0, 0, 0.5);
	padding-top: 45px;
	padding-bottom: 40px;
	padding-left: 15px;
	padding-right: 50px;
	color:white;
	margin-left: auto;
	margin: auto;
	border-radius: 10px;
	margin-top: 50px;
	width: 60em;

}

#signup {
	margin-left: 9px;
}

.background {
	width: 100%;
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: #C7F1EB;
}

#landingpage {
	background-image: url('https://blog.h4t0n.com/content/images/2015/07/wall-black-background-desktop-12-.jpg'); 
	background-repeat: no-repeat;
}




/*For submit page*/

/*.overlay{
    opacity:0.8;
    background-color: #FCF4F4;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
}*/
#submitGroup {
	z-index: 2;
	position: relative;
	margin-left: 500px;
	margin-top: 200px;

}

#beerInputName {
   width: 350px;
    margin: auto;
	height: 35px;

}
#beerlist{
    background: none;
    margin-left: 20px;
}

/*favorites page
*/

#fav {
	margin-left: 100px;
	margin-bottom: 20px;
	margin-top:20px;
	font-family: 'Lato', sans-serif;
}

.well {
		font-family: 'Lato', sans-serif;
		margin-right: 100px;
		margin-left: 100px;
}

#delete {
 	margin: 10px;
}

.db {
	margin: 10px;
}
